version: "3.9"

services:
  user-service:
    build: ./services/user-service
    container_name: user-service
    ports:
      - "8001:8001"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/userdb
      - JWT_KEY=ilbuiooltrelasiepe
      - JWT_ISSUER=grimluk-finance.com
    depends_on:
      - db

  account-service:
    build: ./services/account-service
    container_name: account-service
    ports:
      - "8002:8002"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/accountdb
      - JWT_KEY=ilbuiooltrelasiepe
      - JWT_ISSUER=grimluk-finance.com
      - ACCOUNT_LIMIT=3
      - KAFKA_SERVER=kafka:29092
      - GROUP_ID=transaction-service
    depends_on:
      - db


  bff:
    build: ./services/bff
    container_name: bff
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/userdb
      - JWT_KEY=ilbuiooltrelasiepe
      - JWT_ISSUER=grimluk-finance.com
      - USER_SERVICE_URL=http://user-service:8001
      - ACCOUNT_SERVICE_URL=http://account-service:8002
    depends_on:
      - db
      
  transaction-service:
    build: ./services/transaction-service
    container_name: transaction-service
    ports:
      - "8003:8003"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/transactiondb
      - JWT_KEY=ilbuiooltrelasiepe
      - JWT_ISSUER=grimluk-finance.com
      - KAFKA_SERVER=kafka:29092
      - GROUP_ID=transaction-service
    depends_on:
      - db
      - kafka



  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"


  db:
    image: postgres:15
    container_name: finance-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-initialization:/docker-entrypoint-initdb.d
    
volumes:
  postgres_data: