version: "3.9"

services:
  user-service:
    build: ./services/user-service
    container_name: user-service
    ports:
      - "8001:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/userdb
    depends_on:
      - db

  account-service:
    build: ./services/account-service
    container_name: account-service
    ports:
      - "8002:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/accountdb
    depends_on:
      - db

#  transaction-service:
#    build: ./services/transaction-service
#    container_name: transaction-service
#    ports:
#      - "8003:8000"
#    environment:
#      - DATABASE_URL=postgresql://user:password@db:5432/transactiondb
#    depends_on:
#      - db

  db:
    image: postgres:15
    container_name: finance-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-initialization:/docker-entrypoint-initdb.d
    
volumes:
  postgres_data: